body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("heaven.jpg");
    background-position: center;
    background-size: cover;
}

.jesus-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jesus-message {
    font-size: 70pt;
    color: rgb(255, 255, 220);
    text-shadow: 2px 1px 1px black;
    margin-bottom: 30px;
}

#jesus {
    flex-grow: 0;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 10px white;
}